{# %  set active_route = 'oc_core_homepage' % #}

{% extends "SpectasonicFrontShopBundle::layout.html.twig" %}

{% block title %}
    {{ 'shop.index.title_page' | trans }} {{ parent() }}    
{% endblock %}

{% block shop_content %}
    <div class="container">
        <div id="container" class="clearfix">
            {% for product in listProducts %}
                <div class="element clearfix rectangle col1-1 home teaser">
                    <div class="padding-wrapper">
                        <a href="{{ path('spectasonic_front_shop_view_product', {'category': product.category.slug , 'slug': product.slug}) }}" title="{{ product.name }}">
                            <figure class="images">
                                {% if product.mainimage is defined %}
                                    <img
                                        src="{{ asset(product.mainimage) }}"
                                        alt=""
                                        />
                                {% endif %}
                            </figure>
                        </a>
                        <div class="grey-bg">
                            
                            <p class="small">
                                <a href="{{ path('spectasonic_front_shop_view_by_category', {'category': product.category.slug } ) }}.html" title="See All {{ product.category.name }}">{{ product.category.name }}</a>
                               
                            </p>
                            <a href="{{ path('spectasonic_front_shop_view_product', {'category': product.category.slug , 'slug': product.slug}) }}" title="{{ product.name }}">
                                <h4 class="header">{{ product.name }}</h4>
                            </a>
                            <a href="#" title="By Spectasonic Product">
                                <p>by Spectasonic Product</p>
                            </a>
                            <div class="stats">
                                <p class="lefted">
                                    <span class="alignright">
                                        <span class="padding">
                                            <i class="fa fa-heart"></i>96
                                        </span>
                                        <a href="#" title="">
                                            <i class="fa fa-comments"></i>3
                                        </a>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>No product available.</p>
            {% endfor %}
        </div>        
    </div>
    <div class="centered"><a href="older.html" title="" class="button load-more">Older Posts</a></div>
{% endblock %}