{% extends "SpectasonicFrontShopBundle::layout.html.twig" %}

{% block title %}
    {{ product.name }} - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="logo_container">
        <h1 id="logo"><a href="{{ path('spectasonic_front_core_homepage') }}">Spectasonic</a></h1>
    </div>
    <div class="container">
        <div class="clear"></div>
        <div id="container" class="clearfix">
            <div class="element  clearfix rectangle col3 home">
                <div class="padding-wrapper">
                    <figure class="images">
                        {% if product.mainimage is defined %}
                            <img
                                src="{{ asset(product.mainimage) }}"
                                alt=""
                                />
                        {% endif %}
                    </figure>
                    <div class="grey-bg-large">
                        <p class="small">
                            <a href="{{ path('spectasonic_front_shop_view_by_category', {'category': product.category.slug } ) }}.html" title="See All {{ product.category.name }}">{{ product.category.name }}</a>
                        </p>
                        <h2 class="header">{{ product.name }}</h2>
                        <div class="post-text">
                            <p>{{ product.excerpt }}</p>
                        </div>
                        <div class="post-text">
                            <p>{{ product.content | raw }}</p>
                        </div>
                        <div class="stats clearfix">
                            <span class="alignleft"><a href="#"><span class="padding alignleft"><i class="fa fa-heart"></i></span>
                                    <p class="alignleft">96 likes</p>
                                </a>
                            </span>
                            <span class="alignright">
                                <ul class="social-list clearfix">
                                    <li>
                                        <p>Share:</p>
                                    </li>
                                    <li> <a href="#" class="circled"> <i class="fa fa-pinterest-p"></i> </a> </li>
                                    <li> <a href="#" class="circled"><i class="fa fa-twitter"></i> </a> </li>
                                    <li> <a href="#" class="circled"><i class="fa fa-google-plus"></i> </a> </li>
                                    <li> <a href="#" class="circled"><i class="fa fa-facebook"></i> </a> </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element  clearfix rectangle col3 home">
                <div class="padding-wrapper"> <a href="#" title="" class="button alignleft"><i class="fa fa-long-arrow-left"></i> Previous Post</a> <a href="#" title="" class="button alignright">Next Post <i class="fa fa-long-arrow-right"></i></a> </div>
            </div>
            <div class="element  clearfix rectangle col3 home">
                <div class="padding-wrapper">
                    <div class="grey-bg-large">
                        <div class="avatar"><img src="images/about02.jpg" alt="" /></div>
                        <div class="left-to-avatar">
                            <p class="small">Author</p>
                            <h3 class="header">Spectasonic Product</h3>
                            <p>Lorem</p>
                            <ul class="social-list clearfix">
                                <li> <a href="#"> <i class="fa fa-instagram"></i> </a> </li>
                                <li> <a href="#"><i class="fa fa-twitter"></i> </a> </li>
                                <li> <a href="#"><i class="fa fa-500px"></i> </a> </li>
                                <li> <a href="#"><i class="fa fa-snapchat"></i> </a> </li>
                                <li> <a href="#"><i class="fa fa-linkedin-square"></i> </a> </li>
                                <li> <a href="#"><i class="fa fa-soundcloud"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element  clearfix rectangle col3 home contains-rectangles">
                <div class="rectangle col3">
                    <div class="padding-wrapper">
                        <h6><span>Related Posts</span></h6>
                    </div>
                </div>
                <div class="rectangle col1-1 teaser">
                    <div class="padding-wrapper"> <a href="post.html" title="">
                            <figure class="images"> <img src="images/image03.jpg" alt="" /></figure>
                        </a>
                        <div class="grey-bg">
                            <p class="small"><a href="lifestyle.html" title="">Lifestyle</a></p>
                            <a href="post.html" title="">
                                <h4 class="header">Working Remotely from Starbucks</h4>
                            </a>
                            <div class="stats">
                                <p class="lefted">February 7, 2016<span class="alignright"><span class="padding"><i class="fa fa-heart"></i>96</span> <a href="post.html#comments" title=""><i class="fa fa-comments"></i>3</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rectangle col1-1 teaser">
                    <div class="padding-wrapper"> <a href="post.html" title="">
                            <figure class="images"> <img src="images/image02.jpg" alt="" /></figure>
                        </a>
                        <div class="grey-bg">
                            <p class="small"><a href="post.html" title="">Travel</a></p>
                            <a href="post.html" title="">
                                <h4 class="header">Gone Fishing!</h4>
                            </a>
                            <div class="stats">
                                <p class="lefted">March 18, 2016<span class="alignright"><span class="padding"><i class="fa fa-heart"></i>96</span> <a href="post.html#comments" title=""><i class="fa fa-comments"></i>3</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rectangle col1-1 teaser">
                    <div class="padding-wrapper"> <a href="post.html" title="">
                            <figure class="images"> <img src="images/image04.jpg" alt="" /></figure>
                        </a>
                        <div class="grey-bg">
                            <p class="small"><a href="travel.html" title="">Travel</a></p>
                            <a href="post.html" title="">
                                <h4 class="header">Appreciating Nature's Power on our Planet</h4>
                            </a>
                            <div class="stats">
                                <p class="lefted">December 30, 2015<span class="alignright"><span class="padding"><i class="fa fa-heart"></i>96</span> <a href="post.html#comments" title=""><i class="fa fa-comments"></i>3</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element  clearfix rectangle col3 home">
                <div class="padding-wrapper">
                    <div class="grey-bg-large">
                        <h3 class="header">Comments</h3>
                        <div class="break"></div>
                        <div class="comment clearfix">
                            <div class="commenter-avatar"> <img alt="" src="images/about01.jpg" /> </div>
                            <div class="comment-content">
                                <p class="time">December 3, 2015</p>
                                <h5>Tobias Schmied</h5>
                                <p>Mine synthest Coca-Cola, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Craft beer exercitation, photo booth kattle chips proident.</p>
                            </div>
                            <div class="comment-reply-button-column"> <a href="#"><i class="fa fa-comments"></i> Reply</a> </div>
                        </div>
                        <div class="comment reply level-1 clearfix">
                            <div class="commenter-avatar"> <img alt="" src="images/about03.jpg" /> </div>
                            <div class="comment-content">
                                <p class="time">December 3, 2015</p>
                                <h5>Mark Orlowski</h5>
                                <p>Cum sociis natoque perse penatibus et magnis.</p>
                            </div>
                            <div class="comment-reply-button-column"> <a href="#"><i class="fa fa-comments"></i> Reply</a> </div>
                        </div>
                        <div class="comment clearfix">
                            <div class="commenter-avatar"> <img alt="" src="images/about01.jpg" /> </div>
                            <div class="comment-content">
                                <p class="time">December 3, 2015</p>
                                <h5>Tobias Schmied</h5>
                                <p>Justo quam fellis, ultricies pellentesque eu, pretium quis sem.</p>
                            </div>
                            <div class="comment-reply-button-column"> <a href="#"><i class="fa fa-comments"></i> Reply</a> </div>
                        </div>
                        <div class="comment-form-wrapper"> <a href="#" title="">
                                <div class="comment-form-icon-wrapper"></div>
                            </a>
                            <form class="comment-form" method="post" action="http://weibergmedia.com/demos/cc/contact.php" name="contactform" id="contactform" autocomplete="off">
                                <input name="name" type="text" id="name" size="30" title="Name" />
                                <input name="email" type="text" id="email" size="30" title="Email" />
                                <textarea name="comments" cols="40" rows="3" id="comments" title="Your Message"></textarea>
                                <div class="input-wrapper clearfix">
                                    <input type="submit" class="send-btn" value="Post Comment" id="submit" name="Submit" />
                                    <span id="message"></span></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element  clearfix rectangle col1-1 home auto sidebar">
                <div class="padding-wrapper">
                    <h6><span>About</span></h6>
                    <div class="avatar"><img src="images/about02.jpg" alt="" /></div>
                    <p>Hi, I'm James.
                        I love to travel and share my adventures. Craft beer exercitation, photo booth kattle chips proident chillwave deep Chilis.</p>
                    <div class="signature"></div>
                </div>
            </div>
            <div class="element  clearfix rectangle col1-1 home auto sidebar">
                <div class="padding-wrapper">
                    <h6><span>Follow Me</span></h6>
                    <ul class="social-list clearfix">
                        <li> <a href="#" class="circled"> <i class="fa fa-behance"></i> </a> </li>
                        <li> <a href="#" class="circled"><i class="fa fa-dribbble"></i> </a> </li>
                        <li> <a href="#" class="circled"><i class="fa fa-snapchat"></i> </a> </li>
                        <li> <a href="#" class="circled"> <i class="fa fa-soundcloud"></i> </a> </li>
                        <li> <a href="#" class="circled"><i class="fa fa-instagram"></i> </a> </li>
                        <li> <a href="#" class="circled"><i class="fa fa-facebook"></i> </a> </li>
                    </ul>
                </div>
            </div>
            <div class="element  clearfix rectangle col1-1 home auto sidebar">
                <div class="padding-wrapper">
                    <h6><span>Categories</span></h6>
                    <ul class="category-list clearfix">
                        <li> <a href="travel.html">Travel</a> </li>
                        <li> <a href="lifestyle.html">Lifestyle</a> </li>
                        <li> <a href="food.html">Food</a> </li>
                    </ul>
                </div>
            </div>
            <div class="element  clearfix rectangle col1-1 home instagram2x2 auto sidebar">
                <div class="padding-wrapper">
                    <h6><span>Instagram</span></h6>
                    <div class="break"></div>
                    <a href="http://instagram.com/" title="">
                        <figure class="images"> <img src="images/instagram01.jpg" alt="" />
                            <div class="covering-image">
                                <div class="info-box-content hidden-content">
                                    <div class="parent">
                                        <div class="child">
                                            <p><i class="fa fa-heart"></i>119</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </a> <a href="http://instagram.com/" title="">
                        <figure class="images"> <img src="images/instagram02.jpg" alt="" />
                            <div class="covering-image">
                                <div class="info-box-content hidden-content">
                                    <div class="parent">
                                        <div class="child">
                                            <p><i class="fa fa-heart"></i>8</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </a> <a href="http://instagram.com/" title="">
                        <figure class="images"> <img src="images/instagram03.jpg" alt="" />
                            <div class="covering-image">
                                <div class="info-box-content hidden-content">
                                    <div class="parent">
                                        <div class="child">
                                            <p><i class="fa fa-heart"></i>34</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </a> <a href="http://instagram.com/" title="">
                        <figure class="images"> <img src="images/instagram04.jpg" alt="" />
                            <div class="covering-image">
                                <div class="info-box-content hidden-content">
                                    <div class="parent">
                                        <div class="child">
                                            <p><i class="fa fa-heart"></i>5</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </a>
                    <div class="clear"></div>
                    <div class="break"></div>
                </div>
            </div>
            <div class="element  clearfix rectangle col1-1 home auto sidebar">
                <div class="padding-wrapper">
                    <h6><span>Tag Cloud</span></h6>
                    <ul class="tag-list clearfix">
                        <li><a href="#" title="">People <span>2</span></a></li>
                        <li><a href="#" title="">Design <span>18</span></a></li>
                        <li><a href="#" title="">Brooklyn <span>1</span></a> </li>
                        <li><a href="#" title="">Hipster <span>4</span></a></li>
                        <li><a href="#" title="">Summer <span>17</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end #container --> 
    </div>
{% endblock content %}
