{% for post in listPosts %}
    <div class="element  clearfix rectangle col1-1 home teaser">
        <div class="padding-wrapper"> <a href="{{ path('spectasonic_front_news_view_post', {'category': post.categories[0].slug, 'slug': post.slug}) }}.html" title="{{ post.title }}">
                <figure class="images">
                  
                    {% if post.mainimage is defined %}
                        <img
                            src="{{ asset(post.mainimage) }}"
                            alt=""
                            />
                    {% endif %}
                </figure>
            </a>
            <div class="grey-bg">
                <p class="small"><a href="{{ path('spectasonic_front_news_view_by_category', {'category': post.categories[0].slug }) }}.html" title="See All {{ post.categories[0].name }}">{{ post.categories[0].name }}</a></p>
                <a href="{{ path('spectasonic_front_news_view_post', {'category': post.categories[0].slug , 'slug': post.slug}) }}.html" title="{{ post.title }}">
                    <h4 class="header">{{ post.title }}</h4>
                </a>
                <a href="#" title="See my profile.">
                    <p>by {{ post.author.userdisplay }}</p>
                </a>
                <div class="stats">
                    <p class="lefted">{{ post.date|date('F d, Y') }}<span class="alignright"><span class="padding"><i class="fa fa-heart"></i>96</span> <a href="#" title=""><i class="fa fa-comments"></i>3</a></span></p>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <p>No post</p>
{% endfor %}
