{% extends "SpectasonicBackUserManagerBundle::layout.html.twig" %}


{% block title %}
    {{ 'add.address.index.title_page' | trans }} - {{ parent() }}    
{% endblock %}

{% block usermanager_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add informations vendor : {{ user.firstname|capitalize  }} {{ user.lastname|upper }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    {% form_theme form 'bootstrap_3_layout.html.twig' %}
                    {{ form_start(form, {'method': 'post', 'action': path('spectasonic_back_user_manager_add_information_vendor', {'id': user.id}), 'attr': {'class': 'spectasonic_back_user_manager_add_information_vendor'}}) }}
                    {% if 'ROLE_VENDEUR' in user.roles %}
                        {{ form_row(form.mainimage) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.urlToVendor) }}
                        {{ form_row(form.urlToProduct) }}
                        {{ form_row(form.country) }}
                    {% endif %}
                    <button type="submit" value="" class="btn btn-success"/>Add informations</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}
