{% extends "SpectasonicBackUserManagerBundle::layout.html.twig" %}

{% block title %}
    {{ 'usermanager.viewuser.title_page' | trans }} - {{ parent() }}    
{% endblock %}

{% block usermanager_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ user.lastname }} {{ user.firstname }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Informations
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#user" data-toggle="tab">User</a>
                                </li>
                                {% if 'ROLE_VENDEUR' in user.roles %}
                                    <li><a href="#vendor" data-toggle="tab">Vendor Informations</a>
                                    </li>                                        
                                {% endif %}
                                <li><a href="#billing" data-toggle="tab">Billing Address</a>
                                </li>
                                <li><a href="#shipping" data-toggle="tab">Shipping Address</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="user">
                                    <h4>Informations</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item"><b>n° client :</b> {{ user.id }}</li>
                                        <li class="list-group-item"><b>Username :</b> {{ user.username }}</li>
                                        <li class="list-group-item"><b>Email :</b> {{ user.email }}</li>
                                        <li class="list-group-item"><b>Phone :</b> {{ user.phone }}</li>
                                        <li class="list-group-item"><b>Last connexion :</b> 
                                            {% if user.lastLogin == null %}
                                                Not logged yet
                                            {% else %}
                                                {{ user.lastLogin | date('j/m/y') }}
                                            {% endif %}
                                        </li>
                                        <li class="list-group-item"><b>Enabled :</b>
                                            {% if user.enabled %}
                                                Activated
                                            {% else %}
                                                Desactivated
                                            {% endif %}
                                        </li>
                                        <li class="list-group-item"><b>Locked :</b>
                                            {% if user.locked %}
                                                <div class="alert alert-danger" role="alert">WARNING : LOCKED</div>
                                            {% else %}
                                                No locked
                                            {% endif %}
                                        </li>
                                        <li class="list-group-item"><b>Roles :</b>
                                            <ul>
                                                {% for role in user.roles %}
                                                    <li>
                                                        {{ role }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                    <a class="btn btn-block btn-warning" href="{{ path('spectasonic_back_user_manager_edit_user', {'id': user.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit User</a>
                                </div>
                                {% if 'ROLE_VENDEUR' in user.roles %}
                                    <div class="tab-pane fade" id="vendor">
                                        <h4>Informations Vendor</h4>
                                        {% if user.more is not null %}
                                            {% if user.more.mainimage is defined %}
                                                <p><img width="25%"
                                                     src="{{ asset(user.more.mainimage) }}"
                                                     alt=""
                                                     /></p>
                                                <p>{{ user.more.description | raw }}</p>
                                            {% endif %}
                                        {% else %}
                                            <p>You must fill informations vendor. If vendor hasn't information, vendor will not display for customers !</p>
                                        {% endif %}    

                                        {% if user.more is not null %}
                                            <a class="btn btn-block btn-warning" href="{{ path('spectasonic_back_user_manager_edit_user', {'id':user.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit informations vendor</a>
                                        {% else %}
                                            <a class="btn btn-block btn-success" href="{{ path('spectasonic_back_user_manager_add_information_vendor', {'id': user.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i> Add informations vendor</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <div class="tab-pane fade" id="billing">
                                    <h4>Billing Address</h4>
                                    {% if user.address[0] is defined %}
                                        <ul class="list-group">
                                            <li class="list-group-item"><b>Type :</b> {{ user.address[0].type }}</li>
                                            <li class="list-group-item"><b>Society :</b> {{ user.address[0].society }}</li>
                                            <li class="list-group-item"><b>Name of person :</b> {{ user.address[0].person }}</li>
                                            <li class="list-group-item"><b>Address :</b> {{ user.address[0].line1 }}</li>
                                            <li class="list-group-item"><b>More address :</b> {{ user.address[0].line2 }}</li>
                                            <li class="list-group-item"><b>ZIP Code :</b> {{ user.address[0].code }}</li>
                                            <li class="list-group-item"><b>City :</b> {{ user.address[0].city }}</li>
                                            <li class="list-group-item"><b>Country :</b> {{ user.address[0].country }}</li>
                                            <li class="list-group-item"><b>Phone :</b> {{ user.address[0].phone }}</li>
                                        </ul>
                                    {% else %}
                                        <p>There is not Billing Address.</p>
                                    {% endif %}    

                                    {% if user.address[0] is defined %}
                                        <p>If the name of person isn't filled, firstname and lastname are choosen.</p>
                                        <a class="btn btn-block btn-warning" href="{{ path('spectasonic_back_user_manager_edit_address_user', {'iduser':user.id, 'idaddress':user.address[0].id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Billing Address</a>
                                    {% else %}
                                        <a class="btn btn-block btn-success" href="{{ path('spectasonic_back_user_manager_add_address_user', {'id': user.id, 'type': 'billing'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i> Add a Billing Address</a>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="shipping">
                                    <h4>Shipping Address</h4>
                                    {% if user.address[1] is defined %}
                                        <ul class="list-group">
                                            <li class="list-group-item"><b>Type :</b> {{ user.address[1].type }}</li>
                                            <li class="list-group-item"><b>Society :</b> {{ user.address[1].society }}</li>
                                            <li class="list-group-item"><b>Name of person :</b> {{ user.address[1].person }}</li>
                                            <li class="list-group-item"><b>Address :</b> {{ user.address[1].line1 }}</li>
                                            <li class="list-group-item"><b>More address :</b> {{ user.address[1].line2 }}</li>
                                            <li class="list-group-item"><b>ZIP Code :</b> {{ user.address[1].code }}</li>
                                            <li class="list-group-item"><b>City :</b> {{ user.address[1].city }}</li>
                                            <li class="list-group-item"><b>Country :</b> {{ user.address[1].country }}</li>
                                            <li class="list-group-item"><b>Phone :</b> {{ user.address[1].phone }}</li>
                                        </ul>
                                    {% else %}
                                        <p>There is not Shipping Address.</p>
                                    {% endif %}    

                                    {% if user.address[1] is defined %}
                                        <p>If the name of person isn't filled, firstname and lastname are choosen.</p>
                                        <a class="btn btn-block btn-warning" href="{{ path('spectasonic_back_user_manager_edit_address_user', {'iduser':user.id, 'idaddress':user.address[1].id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Shipping Address</a>
                                    {% else %}
                                        <a class="btn btn-block btn-success" href="{{ path('spectasonic_back_user_manager_add_address_user', {'id': user.id, 'type': 'shipping'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i> Add a Shipping Address</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">                    
                            Products of {{ user.lastname }} {{ user.firstname }}
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Product #1</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Product #2</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Product #3</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}
